{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.7"></script>
    <title>
        {% block head_title %}
            Ratebook
        {% endblock %}
    </title>

</head>
<body>
{% block content %}
{% endblock %}

<script src="{% static 'js/dropdown.js' %}"></script>
</body>
</html>